
.cards-group{
  width: 100%;
  background: blue;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;


}

.login-screen {
  width: 100%;
  height: 80vh;
  display: flex;
}

.banner {
  display: flex;
  width: 50%;
  background:green;
}

.wrapper-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  width: 50%;
}

.wrapper-login input {
  width: 80%;
  height: 50px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  border: none;
  padding-left: 20px
}

.wrapper-login button {
  border: none;
  height: 50px;
  width: 150px;
  background: orange;
  border-radius: 8px;

}